<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">

    <title>CAM</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.4.1/slick.css"/>
  </head>
  <body>
    <div class="container">

      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                  
                    {% if user.is_authenticated %}
                      {{ user.get_username }}
                    {% endif %}
                  <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="/api-auth/logout/?next=/">Logout</a></li>
                </ul>
              </li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>


      <div class="row">
        <div class="col-md-12">
          <div class="the-slider">

            {% for pic in pictures %}
            <div class="single-slide">
              <img data-lazy="{{ MEDIA_URL }}{{pic.photo}}" class="img-repsponsive" style="width: 100%; margin: 0 auto;">
              <h1 style="position: absolute; top: 0; padding-left: 20px; color: rgb(132, 0, 0);">{{pic.created}}</h1>
            </div>
            {% endfor %}

          </div>
        </div>
      </div>
    </div>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.4.1/slick.min.js"></script>
    <script>

      $(document).ready(function(){
        $('.the-slider').slick({
          lazyLoad: 'ondemand',
          infinite: false,
        });
      });
    </script>
  </body>
</html>
